<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159757287819-udf3qpm26no15tt8br2loit87argvoem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159757287819-udf3qpm26no15tt8br2loit87argvoem</string>
	<key>API_KEY</key>
	<string>AIzaSyAztUOlOs_lQ8kLiOoHMnkXaahv38As5zw</string>
	<key>GCM_SENDER_ID</key>
	<string>159757287819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zades.romulo.notifProject</string>
	<key>PROJECT_ID</key>
	<string>notify-app-mdr</string>
	<key>STORAGE_BUCKET</key>
	<string>notify-app-mdr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159757287819:ios:8974bcf2bccc22f54f6f8e</string>
</dict>
</plist>